#tasks
  %h3
    = t('task.tasks')
    /
      %span#tasks_counter
        = current_project.tasks_counter
  %hr/
  = render :partial => "tasks/task", :collection => current_project.tasks
  -#= link_to "new_task", new_task_path({:task => {:tasktable_id => current_project.id, :tasktable_type => "Project"}, :project_id => current_project.id}) 

