- title "About"
%section#projects
  .page-header
    %h1
      About Ordinem
      %small Small history about this project
  %p
 
    This is a bacalavr diploma
    %address
      %strong Bohdan Shevchuk
    

 
