%section#errors
  .row-fluid
    .span3
      %p
    .span6.offset4
      .page-header
        %h2 
          Disabled JavaScript
      .alert.alert-error
        %p
          %b
            Ordinem 
          makes heavy use of JavaScript
        %p
          If you don't known to enable it in your browser's preferences, please reading one of this manuals
          %ul
            %li
              = link_to "(русский) http://www.enable-javascript.com/ru/", "http://www.enable-javascript.com/ru/", :target => :blank
            %li
              = link_to "(english) http://www.enable-javascript.com/", "http://www.enable-javascript.com/", :target => :blank
