%section#projects_list
  .page-header
  /
    %h1
      You projects
      %small Select and manage
  = render :partial => 'projects/project_blocks', :object => @project
  
  .form-actions
    = link_to new_project_path, :class => 'btn btn-success btn-large' do
      %i.icon-add
      = t('project.create')

